/* .add-recipe {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 500px;
  padding: 40px;
  border-radius: 4px;
  margin: 0 auto; 
  margin-top: 90px;
} */

.AddRecipe {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 500px;
  padding: 40px;
  border-radius: 4px;
  margin: 0 auto; /* Centers the box */
  margin-top: 120px; /* Keeps your bottom margin */
  display: grid;
  grid-template-rows: auto;
}

.form-item {
  margin: 20px;
  display: grid;
  align-items: flex-start;
}

.plus-btn {
  background-color: blueviolet;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 5px;
  width: 70px;
}

.submit-btn {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: blueviolet;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-family: Prompt;
  padding: 5px 15px;
}

.input-field {
  margin-bottom: 5px;
}

h4 {
  margin: 5px 20px;
  font-size: 2em;
}
