.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b6e4e737;
  overflow-x: hidden;
  z-index: 5;
}

.sidebar-link {
  padding-left: 20px;
  text-decoration: none;
  font-size: 2em;
  color: #1b1a1a;
  display: block;
  font-family: Prompt;
  font-weight: 600;
}

.menu {
  margin-top: 130px;
  list-style-type: none;
  padding-left: 0;
}
